.page {
  &__body {
    margin: 0;
    font-family: Montserrat;
  }

  &__news {
    font-family: Montserrat;

    &::before {
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background: $c-secondary;
      margin-bottom: 45px;
    }

    @include onTablet {
      display: flex;
      flex-wrap: wrap;
    }
  }
}